/*
 * Style sheet for https://dcpetty.github.io/cv/
 *
 * Engineer
 */

body h2.eng, body h2.eng.edu { display: block; }
body h2.edu { display: none; }

#summary .eng, #summary .eng.edu { display: block; }
#summary .edu, #summary .long { display: none; }

#objective .eng, #objective .eng.edu { display: block; }
#objective .edu, #objective .long { display: none; }

article section.eng { margin-right: 2vw; }
article section.edu { margin-left: 2vw; }

/*
.arranged-div { display: flex; flex-direction: column; }
.arranged-span { display: flex; flex-direction: row; }
*/

.icons .current { display: none; }
