/*
 * Style sheet for http://i.am/dcp
 */

/* fonts */
body { font-family: Verdana, Geneva, sans-serif; font-size: x-small; }
h1,h2,h3,h4,h5,h6 { font-family: Garamond, "Times New Roman", Times, serif; }
pre { font-family: monospace; }

/* tags */
body {
  background-color: white; color: black;
  margin-left: 5%; margin-right: 5%;
}
h1 { font-size: 1.8em; }
h2 { font-size: 1.4em; }
h3 { font-size: 1.2em; }
table { border-spacing: 0; }
td { vertical-align: middle; border: none; }
ul { padding-left: 1.5em; list-style-type: square; }
p, ol, ul { margin: 0; margin-top: .75em; }
p:first-child, ol:first-child, ul:first-child { margin: 0; }
dd, dt, li { margin: 0; margin-top: .5em; }
dd:first-child, dt:first-child, li:first-child { margin: 0; }

/* classes */
.address { text-align: center; }
.section { width: 100%; border: thin solid #669;}
.head { text-decoration: underline; color: #669; }
.label { border-left: 1em solid white; }
.institution { border-left: 1em solid white; }
.city { text-align: right; border-right: 1em solid white; }
.content { background-color: #eef; border: 1em solid #eef; }
.bar { border-left: 1em solid white; } /* same as .label */
.marker { border: 0; text-align: right; font-weight: bold; } /* note marker */
.notes { text-align: center; font-size: xx-small; } /* extra note text */

/* links */
a { text-decoration: none; }
a:hover { text-decoration: underline; }

/* Red Links */
a:link { color: rgb(204, 0, 0) }        /* for unvisited links */
a:visited { color: rgb(102, 0, 0) }     /* for visited links */
a:hover { color: rgb(204, 102, 102) }   /* when mouse is over link */
a:active { color: rgb(102, 102, 102) }  /* when link is clicked */
/* Green Links */
a:link { color: rgb(0, 204, 0) }        /* for unvisited links */
a:visited { color: rgb(0, 102, 0) }     /* for visited links */
a:hover { color: rgb(102, 204, 102) }   /* when mouse is over link */
a:active { color: rgb(102, 102, 102) }  /* when link is clicked */
/* Blue Links */
a:link { color: rgb(0, 0, 204) }        /* for unvisited links */
a:visited { color: rgb(0, 0, 102) }     /* for visited links */
a:hover { color: rgb(102, 102, 204) }   /* when mouse is over link */
a:active { color: rgb(102, 102, 102) }  /* when link is clicked */

/* invisible links */
.i:link { color: black; }                         /* for unvisited links */
.i:visited { color: black; }                      /* for visited links */
.i:hover { color: black; text-decoration: none; } /* when mouse is over link */
.i:active { color: black; }                       /* when link is clicked */

/* header / footer links */
.hf { text-align: center; color: #aaa; font-size: xx-small; } /* header / footer */
a.hf:link { color: #aaa; }                  /* for unvisited links */
a.hf:visited { color: #aaa; }               /* for visited links */
a.hf:hover { color: rgb(102, 102, 204); }   /* when mouse is over link */
a.hf:active { color: rgb(102, 102, 102); }  /* when link is clicked */
